<!-- app-header მივაბი ფილტერჩეინჯი რომელიც გაფილტრულ კოაციას მიკეთებს -->
<app-header [items]="items$ | async"
     (filterChanged)="onFilterChanged($event)">
</app-header>
     <div class="grid grid-cols-4 gap-3 w-auto justify-center items-center mt-10 pl-20 pb-5 shadow-md">
          <div>
               <a href="#">
                    <img src="../../../assets/img/shop-3.jpg" alt="" class="w-[30%]">
                    <h6 class="mt-5 tracking-widest text-gray text-xs font-medium title-font uppercase">all products</h6>
               </a>
          </div>
          <div> 
               <a href="#">
                    <img src="../../../assets/img/img-6.jpg" alt="" class="w-[33%]">
                    <h6 class="mt-5 tracking-widest text-gray text-xs font-medium title-font uppercase">electronics</h6>
               </a>
          </div>
          <div>
               <a href="#">
                    <img src="../../../assets/img/shop-2.png" alt="" class="w-[20%]">
                    <h6 class="mt-5 tracking-widest text-gray text-xs font-medium title-font uppercase">fashion</h6>
               </a>
          </div>
          <div>
               <a href="#">
                    <img src="../../../assets/img/img-4.jpg" alt="" class="w-[20%]">
                    <h6 class="mt-5 tracking-widest text-gray text-xs font-medium title-font uppercase">jewellery</h6>
               </a>
          </div>
     </div>
<app-cart ></app-cart>