 <div *ngIf="productItem.length !=0" >
          <div class="div-res" >
               <div class="overflow-x-auto">
                    <table class="mt-8 shadow-3xl border-2 border-violet-200  w-full lg:w-auto">
                         <thead class="text-white">
                              <tr >
                                   <th class="py-3 bg-violet-500">Sr.No</th>
                                   <th class="py-3 bg-violet-500">Name</th>
                                   <th class="py-3 bg-violet-500">Image</th>
                                   <th class="py-3 bg-violet-500">Description</th>
                                   <th class="py-3 bg-violet-500">Price</th>
                                   <th class="py-3 bg-violet-500">Quantity</th>
                                   <th class="py-3 bg-violet-500">Total</th>
                                   <th class="py-3 bg-violet-500">Action</th>
                              </tr>
                         </thead>
                         <tbody class="text-violet-700 text-center ">
                              <tr *ngFor="let item of productItem; let i = index" class=" cursor-pointer duration-300 pb-16 lg:pb-0 font-size">
                                   <td class="py-3 px-6">{{i+1}}</td>
                                   <td class="py-3 px-6">{{item.title}}</td>
                                   <td class="py-3 px-6 w-[40%]"><img src="{{item.images[0]}}" alt="{{ item.alt}}" class="w-[auto] "></td>
                                   <td class="py-3 px-6">{{item.description}}</td>
                                   <td class="py-3 px-6">{{item.price}}</td>
                                   <td class="py-3 px-6">{{item.quantity}}</td>
                                   <td class="py-3 px-6">{{item.total}}</td>
                                   <td class="font-size">
                                        <button (click) ="removeItem(item)" class="pr-2 lg:pr-4 bg-red-600 hover:bg-red-700 px-3 py-2 rounded text-white font-bold text-base capitalize font-size">Delete</button>
                                   </td>
                              </tr>
                              <tr>
                                   <td class="w-1/5 lg:w-1/10"><button (click)="emptyCartItem()" class="bg-red-600 hover:bg-red-700 px-3 py-2  rounded text-white font-bold text-base capitalize font-size">empty cart</button></td>
                                   <td class="w-1/5 lg:w-1/10"><button routerLink="/list" class="bg-violet-400 hover:bg-violet-600 px-3 py-2  rounded text-white font-bold text-base capitalize font-size">shop more</button></td>
                                   <td class="hidden lg:table-cell"></td>
                                   <td class="hidden lg:table-cell"></td>
                                   <td class="w-3/5 lg:w-1/5"><span class="bg-violet-600 p-2 rounded text-white font-bold text-base capitalize block text-center lg:inline-block font-size">Grand Total: Gel {{grandTotal}}</span></td>  
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>

     <div *ngIf="productItem.length === 0" class="  h-screen res-div">
               <h6 class=" res-title text-bolder font-bold text-base capitalize pt-[8rem] ml-[3rem]">my cart </h6>
          <div class="pb-8 md:pb-0 md:flex md:flex-col md:items-center md:justify-center">
               <img src="../../../assets/img/empty-cart.png" alt="empty-cart" class="w-full md:w-80 res-img">
               <div class=" res-container">
                    <h6 class="text-sm text-red-700 font-medium capitalize ml-[1.3rem] res-p">your cart is empty</h6>
                    <h6 class="text-sm text-red-700 font-medium capitalize res-p">Add some product to it now</h6>
                    <div class="pl-[0.5rem]">
                         <button routerLink="/list" class="bg-violet-400 hover:bg-violet-500 px-3 py-2 mt-4 md:mt-8 ml-0 md:ml-6 rounded text-white font-bold text-base capitalize res-p">shop now</button>
                    </div>
               </div>
          </div>
     </div> 
    