<nav class="p-3 flex items-center flex-wrap  bg-yellow-50">
     <div>
          <a href="#" class="p-2 mr-4 inline-flex items-center">
               <span class="text-xl font-extrabold text-yellow-600 uppercase tracking-wide">Gold Pack</span>
          </a>
          <button class="text-white inline-flex p-3 hover:bg-yellow-100 rounded hidden">
               <i class="fas fa-bars"></i>
          </button>
     </div>
     <div class="top-nav w-full lg:inline-flex lg:flex-grow lg:w-auto">
          <div class="lg:inline-flex lg:flex-row lg:ml-auto">
               <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">
                    <span>home</span>
               </a>
               <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">
                    <span>about</span>
               </a>
               <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">
                    <span>products</span>
               </a>
               <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">
                    <span>contact</span>
               </a>
               <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">
                    <span>account +
                         <!-- <ul>
                              <span class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">login</span>
                              <span class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">register</span>
                         </ul> -->
                    </span>
               </a>
               <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-yellow-500 hover:bg-yellow-100 uppercase font-bold">
                    <span>contact</span>
               </a>
               <a href="#" class="fas fa-shopping-cart lg:inline-flex lg:w-auto px-3 py-4 rounded text-yellow-500 hover:bg-yellow-100"></a>
          </div>
     </div>
</nav>