<div class="mt-auto flex items-center justify-between">
     <div class="m-[10rem]">
          <h3 class="my-10 text-2xl font-bold text-purple-900 tracking-widest uppercase">new tech store</h3>
          <p class="px-10 tracking-widest text-violet-700 text-s font-medium title-font  mb-8">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consequuntur tenetur quidem, quod sed eos eum deserunt? 
          </p>
          <a routerLink="/products" class="bg-purple-400 rounded text-white font-bold text-base capitalize hover:bg-purple-900 px-3 py-3">
               Follow Me
                    <i class="fas fa-arrow-right px-2 mt-5"></i>
          </a>
     </div>
     <img src="../../../assets/img/shop-1.jpg" alt="shop-1" class="w-[40%] pt-10">
</div>