/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
     
     &::-webkit-scrollbar{
          width:1rem;
     }
     &::-webkit-scrollbar-track{
          background: transparent;
     }
     &::-webkit-scrollbar-thumb{
          background: purple;
     }
}